@import global

body
	margin: 0
	padding: 0
.r-menu, .r-menu *
	+box-sizing(border-box)
.r-menu
	background-color: #fff
	height: 50px
	border-bottom: 1px solid #ddd
	ul
		z-index: -1
		line-height: 50px
		list-style-type: none
		margin: 0
		padding: 0
		transition: transform 1s
		+transform(translateY(-100%))
		&.slide-down
			+transform(translateY(50px))
		@media screen and (min-width: 480px)
			+transform(translateY(0))
			z-index: 1
	li
		@media screen and (min-width: 480px)
			float: left
		a
			display: block
			text-decoration: none
			&:hover
				cursor: pointer
			padding: 0 .5em
	span.fa
		cursor: pointer
		float: right
		margin-right: .25em
		font-size: 2em
		line-height: 50px
		@media screen and (min-width: 480px)
			display: none
