@import global

$break: 480px

.r-menu, .r-menu *
	+box-sizing(border-box)
.r-menu
	height: 50px
	position: relative
	z-index: 10
	.r-menu-panel
		height: 50px
		@media screen and (min-width: $break)
			display: none
	.r-menu-list
		line-height: 50px
		list-style-type: none
		margin: 0
		padding: 0
		z-index: -1
		position: relative
		top: -50px
		transition: transform 1s
		+transform(translateY(-100%))
		&.slide-down
			+transform(translateY(50px))
		@media screen and (min-width: $break)
			&, &.slide-down
				position: static
				+transform(translateY(0))
				transition: none
				z-index: 1
		li
			@media screen and (min-width: $break)
				float: left
			a
				display: block
				text-decoration: none
				&:hover
					cursor: pointer
				padding: 0 .5em
	span.fa
		display: block
		cursor: pointer
		float: right
		padding: 0 .25em
		font-size: 2em
		line-height: 50px
