$color-main: #001c33
$color-border: #003057
$color-link: #f2f2f2


.r-menu.r-menu-blue
	color: $color-link
	font-family: Arial, Helvetica, sans-serif
	background-color: $color-main
	border-bottom: 1px solid $color-border
	.r-menu-panel
		background-color: $color-main
		border-bottom: 1px solid $color-border
	.r-menu-list
		border-bottom: 1px solid $color-border
		background-color: $color-main
		li a
			color: $color-link
			&:hover
				background-color: $color-border
	span.fa:hover
		background-color: $color-border
